.wrap {
    background-color: silver;
    width: 100%;
    height: 800px;

}

.a {
    background-color: black;
    width: 100%;
    height: 100px;
}

.wrap2 {
    background-color: green;
    height: 500px;
    width: 100%;
    display: flex;
}

.left-wrap {
    background-color: white;
    height: 500px;
    width: 80%;
}

.right-wrap {
    background-color: blanchedalmond;
    width: 20%;
}

.b {
    background-color: #1e2939;
    height: 50%;
}

.cde {
    background-color: #595959;
    height: 50%;
    display: flex;
    justify-content: space-around;

}

.c {
    background-color: indianred;
    width: 30%;
}

.d {
    background-color: indianred;
    width: 30%;
}

.e {
    background-color: indianred;
    width: 30%;
}
